*{margin: 0;
padding: 0;}
html, body{width: 100%;
height: 100%;}
body{display: flex;}
#txtar{
  box-sizing: border-box;
  width: 50%;
  height: 100vh;
  border: 0;
  padding: 50px;
  font-size: 25px;
  resize: none;
  font-family: noto nastaliq urdu;
  text-align: justify;
}
#txtar:focus{
  border: 0;
  outline: 0;
}
#maindiv{
  box-sizing: border-box;
  width: 50%;
  height: 100vh;
  display: flex;
}
.diven{
  box-sizing: border-box;
  width: 50%;
  height: 100vh;
  font-size: 14px;
  padding: 20px;
  text-align: end;
  line-height: 22.5px;
  font-family: space mono;
  font-weight: bold;
}
.divks{
  box-sizing: border-box;
  width: 50%;
  height: 100vh;
  font-size: 15px;
  padding: 20px;
  text-align: end;
  line-height: 22.5px;
  font-family: scheherazade new;
  font-weight: bold;
}
li{list-style-type: none;}